<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>

    <form method="post" action="/register2" th:object="${registerForm}">
        Login: <input type="text" th:field="*{login}"> <br/>
        Hasło: <input type="password" th:field="*{password}"> <br/>
        Powtórz hasło: <input type="password" th:field="*{passwordRepeat}" > <br/>
        Email: <input type="password" th:field="*{email}"> <br/>
        <input type="submit" value="Zaloguj">
    </form>
</body>
</html>